.click-card {
    max-width: 275px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 15px;
    text-align: center;
}

.retake-button {
    text-align: center;
}

.delete-event-button {
	position:relative;
	right:7px;
	top:7px;
	float:right;
	cursor: pointer;
}

.coordinates-container {
    margin-top:8px;
    margin-bottom:8px;
    display:flex;
    flex-direction:row;
}
.coordinate-container {
    padding:5px;
    display:flex;
    flex-direction:row;
}