.if-card-option {
	width: 33%;
	text-align: center;
}

.if-card {
    max-width: 600px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.if-sub-title {
	margin-top: 15px;
	text-align: center
}