.if-card-option {
	width: 33%;
	text-align: center;
}

.loop-card {
	max-width: 600px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.if-sub-title {
	margin-top: 15px;
	text-align: center
}

.delete-event-button {
	position:relative;
	right:7px;
	top:7px;
	float:right;
	cursor: pointer;
}